.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url;
}

#contact-us-text {
    display:flex;
    justify-content: center;
}

.contact-us-submit {
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
}